$project-column-end: 6
$break-small: 500px
$break-mid: 1028px
$navbar-height: 60px
$gallery-span: 1

html
	scroll-behavior: smooth
	width: 100%

body
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
	color: white
	background: black
	display: grid
	margin: 0px
	width: inherit
	font-size: 100%

.page-section
	height: 100vh
	width: 100vw
	display: flex
	justify-content: center
	width: inherit
	background-size: cover
	background-repeat: no-repeat
	background-attachment: fixed
	&.projects
		background-image: url('../images/code800w.jpg')
		display: grid
		h1
			grid-row-start: 2
			grid-row-end: 3
			grid-column-start: 2
			grid-column-end: 3
		.project-container
			grid-row-start: 3
			grid-row-end: 6
			grid-column-start: 1
			grid-column-end: 4
			display: grid
			.project
				width: 99vw
				border: 1px solid white
				height: 30vh
				background-color: black
				display: grid
				min-height: 0
				h4
					grid-row-start: 1
					grid-row-end: 2
					grid-column-start: 2
					grid-column-end: 4
					margin: 0
				img 
					grid-row-start: 1
					grid-row-end: 3
					grid-column-start: 1
					grid-column-end: 2
					height: 70%
					display: relative
				p 
					grid-row-start: 2
					grid-row-end: 4
					grid-column-start: 2
					grid-column-end: $project-column-end
					margin: 7px 15px 0px 15px
					overflow: scroll
					@media screen and (max-width: $break-small)
						font-size: 1.25em
				.icon-anchor
					margin-top: auto
					padding: 7px
					text-align: center
					border-top: 1px solid white
					color: white
					text-decoration: none
					grid-row-start: 4
					grid-row-end: 5
					&:hover
						background-color: lightgrey
						color: grey
					&.icon-anchor-1
						grid-column-start: 1
						grid-column-end: 4
						border-right: 1px solid white
					&.icon-anchor-2
						grid-column-start: 4
						grid-column-end: $project-column-end

.jumbo
	position: relative
	align-items: center /* vertically center children */
	background-image: url('../images/laptop800w.jpg')
	.container 
		background-color: rgba(255, 255, 255, 0.5)
		padding: 13px
		text-align: center
		h1
			font-size: 60px
			color: black
			@media screen and (max-width: $break-mid) 
				font-size: 3em
			@media screen and (max-width: $break-small)
				font-size: 2em
		article
			color: black
			p
				margin: 0
				font-size: 1.3em
		.main-skills
			border-top: 1px solid black
			color: black
			margin-top: 7px
			h3
				margin: 7px
			ul 
				padding: 0
				padding-top: 13px
				margin: 0
				li 
					display: inline
					padding: 7px
					&.skill
						border-radius: 100%
						background-color: none


.footer
	height: 15vh
	display: grid
	padding: 30px
	.footer-container
		text-align: center
		display: grid
		margin-top: 15px
		a
			padding: 0
			text-decoration: none
			color: white
			&:hover
				text-decoration: underline



.nav-bar
	margin: 0px
	width: 100vw
	position: fixed
	padding: 0 50px 0 50px
	font-family: "Montserrat", sans-serif
	font-size: 1.25em
	font-weight: 100		
	@media screen and (max-width: $break-mid)
		bottom: 0
		font-size: 1em
	@media screen and (min-width: $break-mid)
		top: 0
	.hidden-icon
		font-size: 1.5em
		margin: 15px
		@media screen and (min-width: $break-mid)
			display: none
	.li-container
		float: right
		li 
			margin-right: 11px
	li
		display: inline
		float: left
		padding: 5px
		color: white
		.hidden-text
			@media screen and (max-width: $break-mid)
				display: none
		a
			text-decoration: none
			color: inherit
			&:hover
				text-decoration: none
				border-bottom: 2px solid white
	li#brand
		float: left
