$max-grid-column: 12
$max-grid-row: 12
$break-small: 500px
$break-mid: 1028px
$navbar-height: 60px
$gallery-span: 1

html
	scroll-behavior: smooth
	width: 100%

body
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
	color: white
	background: black
	display: grid
	margin: 0px
	width: inherit

.page-section
	height: 100vh
	display: flex
	justify-content: center
	width: inherit

.jumbo
	grid-column-start: 1
	grid-column-end: $max-grid-column
	grid-row-start: 1
	grid-row-end: $max-grid-row
	background-image: url('../images/laptop800w.jpg')
	background-size: 100%
	background-repeat: no-repeat
	background-attachment: fixed
	position: relative
	align-items: center
	.container 
		background-color: rgba(255, 255, 255, 0.5)
		padding: 13px
		text-align: center
		h1
			font-size: 60px
			color: black
			@media screen and (max-width: $break-mid) 
				font-size: 3.5vw
			@media screen and (max-width: $break-small)
				font-size: 20px
		article
			color: black
			p
				margin: 0

ul
	margin: 0px
	width: 100vw
	position: fixed
	padding: 0 50px 0 50px
	@media screen and (max-width: $break-small)
		bottom: 0
	@media screen and (min-width: $break-small)
		top: 0
	.li-container
		float: right
	li
		display: inline
		float: left
		padding: 5px
		color: white
		a
			text-decoration: none
			color: inherit
			&:hover
				text-decoration: underline
	li#brand
		float: left





